$mobile-devices: 0px; // min to be a mobile
$tablet-devices: 600px; // min to be a tablet
$md-desktop-devices: 1280px; // min to be a md-desktop (most used)
$hd-desktop-devices: 1400px; // min to be a hd-desktop
$full-desktop-devices: 1920px; // min to be a full-desktop
$ultra-desktop-devices: 2000px; // min to be a ultra-desktop
